.ki {
  color: grey;
  font-family: fantasy;
  text-align: center;

}

.mi {
  height: 300px;
  width: 500px;
  text-align: center;

}

.mia {
  color: violet;
  font-family: fantasy;
  text-align: center;


}
