body {
  background-color: #BDBDBD;
}



.ki {
  color: Black;
  font-family: fantasy;
  text-align: left;
  border: 4px;
  text-decoration-style: solid;
  display: block;
  width: 384px;
  margin: 50px left;
  font-style: normal;

}

.mi {
  height: 300px;
  width: 250px;
  text-align: center;


}

* {
  margin:9px;
  padding:8px;
}

.ni{
  color: #04B404;
  font-style: normal;
  text-align: center;
  font-family: monospace;
  font-size: 40px;


}

.pii {
  height: 300px;
  width: 800px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;


}
